 #container{
    float:left;
    width: 50%;
}

.chart{
    float: right;
    position: absolute;
    right:0;
}

td{
	text-align: center;
}

.button{
	width: 50%;
	text-align: center;
	float: left;
}
